{% extends "layout.html" %}

{% block content %}
<h1>My Properties</h1>

{% if current_user and is_authenticated and is_landlord %}
  {% if properties %}
    <ul>
      {% for property in properties %}
        <li>
          <h2>{{ property.name }}</h2>
          <p>{{ property.address }}</p>
          <p>{{ property.description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no properties listed.</p>
  {% endif %}
{% else %}
  <p>You do not have permission to view this page.</p>
{% endif %}
{% endblock %}
